 node_modules
  dist
  dev-dist
  .git
  .github
  .gitignore
  .DS_Store
  *.md
  README.md
  LICENSE
  .env
  .env.local
  .env.*.local
  terraform
  scripts/deploy.sh
  npm-debug.log*
  yarn-debug.log*
  yarn-error.log*
